<footer id="footer" class=" text-center footer ">

    <div class="container pt-2">
        <!-- Links -->
        <section>
            <div class="d-table textDecoration mt-5" style="width:100%">
                <div class="d-table-row" style="width:100%">

                    <div class="d-table-cell ">
                        <h4>Left Cell</h4>
                        <a href="#">User Guide</a><br>
                        <a href="#">Tutorials</a><br>
                        <a href="#">Terms</a><br>
                    </div>

                    <div class="d-table-cell">
                        <h4>Company</h4>
                        <a href="#">Support</a>
                    </div>

                    <div class="d-table-cell">
                        <h4>Right Cell</h4>
                        <p>Some text..</p>
                    </div>

                </div>

            </div>

        </section>
    </div>

    <!-- ICONS -->
    <div class="hr">

        <div class="mt-4">

            <p>Copyright <i class="fas fa-at"></i> Alexandra, Inc. All rights reserved.
        </div>

        <div class="textDecoration">
            <a href="https://twitter.com/" class=" icon-block">
                <i class="icon rounded rounded-circle fa-twitter fab fa-twitter m-3"></i>
            </a>

            <a href="https://www.linkedin.com/" class="icon icon-block">
                <i class="icon rounded rounded-circle fab fa-linkedin-in m-3"></i>
            </a>

            <a href="https://www.facebook.com/" class="icon-block ">
                <i class="icon rounded rounded-circle fab fa-facebook-f fa-facebook m-3 "></i>
            </a>
        </div>


    </div>

</footer>